.body {
  font-family: 'Courier New', Courier, monospace;
  background-color: #28282B;
  color: aliceblue;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 250px;
  flex-direction: column;
}

#btn {
  background-color: #ffff00;
  border: black 2px solid;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
}

#btn:hover {
  background-color: blue;
  border: aliceblue 1px solid;
  color: aliceblue;
  transition: 0.3s ease-in-out;
  font-size: 25px;
}