.body {
  font-family: 'Courier New', Courier, monospace;
  background-color: #28282B;
  color: aliceblue;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 250px;
  flex-direction: column;
}

.btn {
  
}